<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="author" content="<%= site_info.author %>">
    <meta name="description" content="<%= site_info.description %>">
    <title>
      <%= "#{current_title} | " if current_title %>
      <%= site_info.title %>
    </title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "highlighting" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header class="site-header">
      <a href="/">
        <%= image_tag "photo.jpg", class: "header-pic" %>
      </a>
      <h1 class="site-title">Hi! I'm Matt Machuga.</h1>

      <nav class="main-nav">
        <ul class="nav-bar">
          <li class="main-link"><a href="/blog">Blog</a></li>
          <li class="main-link"><a href="http://podcast.bitsandtrees.com">Podcast</a></li>
          <li class="main-link"><a href="/screencasts.html">Screencasts</a></li>
          <li class="main-link"><a href="/talks.html">Talks</a></li>
          <li class="main-link"><a href="/contact.html">Contact</a></li>
        </ul>
      </nav>

      <%= partial 'social-nav' %>
    </header>

    <main class="site-content">
      <%= yield %>
    </main>

    <footer class="site-footer">
      <div class="copyright-info">
        <p class="copyright">
          © 2018 Matthew Machuga
        </p>
      </div>
      <%= partial 'social-nav' %>
    </footer>
  </body>
</html>
