---
title: Blog
pageable: true
---

<div class="blog-articles">
  <div class="listings">
    <div class="articles">
      <% page_articles.each_with_index do |article, i| %>
        <article class="article">
					<header class="header">
						<h1 class="title"><%= link_to article.title, article %></h1>
						<h3 class="published-date"><%= article.date.strftime("%B %d, %Y") %></h3>
					</header>

          <blockquote class="description">
            <%= article.summary(250) %>
          </blockquote>
        </article>
      <% end %>
    </div>

    <nav class="pagination">
      <% if paginate %>
        <% if next_page %>
          <p>
            <%= link_to 'Next page', next_page %>
          </p>
        <% end %>
      <% end %>
    </nav>
  </div>
	<aside class="archive">
		<div class="content">
			<h1>Archive</h1>
			<section class="years">
				<h2>Years</h2>
				<ul class="year-list">
					<% blog.articles.group_by { |a| a.date.year }.each do |year, articles| %>
						<li>
							<%= link_to year, blog_year_path(year) %>
						</li>
					<% end %>
				</ul>
			</section>

			<section class="tags">
				<h2>Tags</h2>
				<ul class="tag-list">
					<% blog.tags.each_with_index do |(tag, articles), index| %>
						<li class="tag">
							<%= link_to tag, tag_path(tag) %>
						</li>
					<% end %>
				</ul>
			</section>
		<div>
  </aside>
</div>
