---
---

.row
  .col-md-8
    %h1 Hello!  My name is Matthew Machuga.
  .col-md-4.text-center
    %img.img-circle{:src => '/images/mv-front.png', :alt => 'Matthew Machuga'}

.row
  .col-md-12
    %p
      I'm a software developer from Erie, PA who specializes in architecting
      and developing web applications.

    %p
      These days I tend to primarily use Ruby, JavaScript, and PHP.
      I work on a variety of tasks including building traditional
      web applications, designing and implementing API's, and creating
      rich JavaScript client applications.

    %p
      I like to contribute back to the open source community in the form of
      #{link_to 'code', 'http://github.com/machuga'},
      #{link_to 'screencasts', '/screencasts.html'}, and helping on public
      forums or IRC.

    %p
      Offline you'll find me spending as much time as possible with my
      wife and daughter, trying to do woodworking, or pedaling around on my BMX bike.

    %h2 There are some ways I may be able to help you
.row
  .col-md-4
    %h3
      %a{:href => "/contact.html?topic=#{URI.escape('Hire or Consulting')}"} Consulting
    %p
      Sometimes it helps to have an outside person take a look at a project you have in mind.
      Is creating a single page JS application better for your particular app?
      Is it more cost effective to salvage the legacy code or rewrite it?
      Are there things that could be done differently to make the code easier to maintain or more performant?
      Let me help you answer questions like these.
  .col-md-4
    %h3
      %a{:href => "/contact.html?topic=#{URI.escape('Training')}"} Training

    %p
      You already have some awesome developers, but want them to have a better way to communicate,
      collaborate, and ensure code quality. Workflows can be optimized, team cohesion can be improved,
      and processes can be enhanced to allow a positive environment for developers, managers, and all
      other teams in your company.  I"d like to help make your development team as happy and effective
      at their jobs as possible.
  .col-md-4
    %h3
      %a{:href => "/contact.html?topic=#{URI.escape('Tutoring / Mentoring')}"} Tutoring/Mentoring
    %p
      Students and life-long learners alike often learn better when they have someone available to
      help them see problems in a new different way.  Whether it's learning a new technology, a new
      programming paradigm, how to effectively test apps, or just learn effective workflows, having
      someone to go to with your questions is comforting and very benficial.
      I'm available to give you a hand.
